{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} About Product Matching API {% endblock %}</h1> <br /> <br />

<ul>
    <li>
        Eine einfache graphische Oberfläsche zum Testen von Product Matching Microservice API
    </li>
    <li>
        Produkt 1 und Produkt 2 kann aus einem Produktbezeichnung mit weiteren Attributen angegeben werden
    </li>
    <li>
        Frontend GUI, der eine Anfrage an einen Microservice API abschickt und die Antwort bekommt, ob es sich um einen Match von zwei Produkten handelt.
    </li>
</ul>

{% endblock %}