{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Product Matching {% endblock %}</h1> <br /> <br />



<form action="/action_page.php">
  <label for="produkt1" style="padding: 0 20px 0 0px;"> Geben Sie das zu vergleichende Produkt 1 ein:</label>
  <input type="text" id="produkt1" name="produkt1" style="width: 700px; height: 200px; max-width: 100%;"><br><br>
  <label for="produkt2" style="padding: 0 20px 0 0px;"> Geben Sie das zu vergleichende Produkt 2 ein:</label>
  <input type="text" id="produkt2" name="produkt2" style="width:700px; height: 200px; max-width:100%;"><br><br>
  <input type="submit" class="submit-btn" value="Vergleichen">
</form>

<form action="/action_page.php">
  <label for="produkt1" style="padding: 0 20px 0 0px;"> Geben Sie das zu vergleichende Produkt 1 ein:</label>
  <input type="text" id="produkt1" name="produkt1" style="width: 700px; height: 200px; max-width: 100%;"><br><br>
  <label for="produkt2" style="padding: 0 20px 0 0px;"> Geben Sie das zu vergleichende Produkt 2 ein:</label>
  <input type="text" id="produkt2" name="produkt2" style="width:700px; height: 200px; max-width:100%;"><br><br>
  <input type="submit" class="submit-btn" value="Vergleichen">
</form>
{% endblock %}